@media (max-width:991px) {
	.collapse:not(.show) {
		display: none !important;
	}
}
.error_pole input {
    border: 1px solid red !important;
}
div[id^="wait_"] {
	position: fixed !important;
	left: 0 !important;
	right: 0 !important;
	top: 0 !important;
	bottom: 0 !important;
	background: rgba(0, 0, 0, 0.9) !important; 
	border: none !important; 
	color: #000000; 
	font-size: 0 !important; 
	width: 100vw !important; 
	height: 100vh !important; 
	z-index: 999 !important; 
}
div[id^="wait_"]::before {
	content: "";
	position: absolute;
	width: 300px; 
	height: 72px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background: url('https://fury-pc.ru/bitrix/templates/furypc/img/logo_left.svg') left no-repeat;
	background-size: contain;
	-webkit-animation: leftPreloader 1.5s infinite linear;
	animation: leftPreloader 1.5s infinite linear;
	z-index: 1000;
}
div[id^="wait_"]::after {
	content: "";
	position: absolute;
	width: 300px; 
	height: 72px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background: url('https://fury-pc.ru/bitrix/templates/furypc/img/logo_right.svg') right no-repeat;
	background-size: contain;
	transform: scale(1);
	-webkit-animation: rightPreloader 1.5s infinite linear;
	animation: rightPreloader 1.5s infinite linear;
	z-index: 1001;
}
.payment {
    text-align: center;
}
.payment input {
    display: inline-block;
	height: 65px;
	font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #D00971;
    border: 1px solid #D00971;
    border-radius: 2px;
    padding: 20px 30px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.modal .order_summ {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: none;
	margin: 15px 5px 0;
	font-size: 15px;
}
.modal .order_summ .configurator_sum {
	font-size: 25px;
}
@-webkit-keyframes leftPreloader {
	0% {
		left: 0;
	}
 	50% {
		left: -50px;
	}
 	100% {
		left: 0;
	}
}
@keyframes leftPreloader {
	0% {
		left: 0;
	}
 	50% {
		left: -50px;
	}
 	100% {
		left: 0;
	}
}
@-webkit-keyframes rightPreloader {
	0% {
		right: 0;
	}
 	50% {
		right: -50px;
	}
 	100% {
		right: 0;
	}
}
@keyframes rightPreloader {
	0% {
		right: 0;
	}
 	50% {
		right: -50px;
	}
 	100% {
		right: 0;
	}
}